{#*
* This file is authored by PrestaShop SA and Contributors <contact@prestashop.com>
*
* It is distributed under MIT license.
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*#}

{% if status == 'ok' %}
    <p>
      {{ 'Your order on %s is complete.'|trans({'%s': shop_name}, 'Modules.Wirepayment.Shop') }}<br/>{# here is a comment #}
      {{ 'Please send us a bank wire with:'|trans({}, 'Modules.Wirepayment.Shop') }}<br/>
    </p>
    {% include '@Modules/ps_wirepayment/views/templates/hook/_partials/payment_infos.html.twig' %}

    <p>
      {{ 'Please specify your order reference %s in the bankwire description.'|trans({'%s': reference}, 'Modules.Wirepayment.Shop') }}<br/>
      {{ 'We\'ve also sent you this information by e-mail.'|trans({}, 'Modules.Wirepayment.Shop') }}
    </p>
    <strong>{{ 'Your order will be sent as soon as we receive payment.'|trans({}, 'Modules.Wirepayment.Shop') }}</strong>
    <p>
      {{ 'If you have questions, comments or concerns, please contact our [1]expert customer support team[/1].'|trans({}, 'Modules.Wirepayment.Shop')|replace({'[1]': '<a href=' ~ contact_url ~ '>', '[/1]': '</a>'})|raw }}
    </p>
{% else %}
    <p class="warning">
      {{ 'We noticed a problem with your order. If you think this is an error, feel free to contact our [1]expert customer support team[/1].'|trans({}, 'Modules.Wirepayment.Shop')|replace({'[1]': '<a href=' ~ contact_url ~ '>', '[/1]': '</a>'})|raw }}
    </p>
{% endif %}
